.main {
    min-height: 80vh;
    display: flex;
    justify-content: flex-start !important;
    
}
.main .item .img i {
    color: blueviolet; 
    
}

.main .item .img i:hover {
    transition: all 0.2s;
    color: white; 
}
.item-shop {
    margin-left: 15px;
    font-weight: 600;
    color: #8c31db;
}
.item-shop:hover{
    transition: all 0.1s;
    color: #6211a8;
}
.item-img img {
    height: 200px !important;
    
    max-width: 350px;
}
.main .item {
    width: 15% !important;
    min-width: 250px;
    max-height: 400px;
    margin-bottom: 2px;
    box-shadow: 0px 1px 0px 0px rgba(167, 167, 167, 0.5);
}

