.nav {
    width: 20vw;
    height: min-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #7546ff;
    border-radius: 15px;
    background-color: aliceblue;
    margin: 0px 20px;
}

#select {
    background-color: #7546ff;
}
#selectA {
    color: #fff;
}

.nav-item {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #7546ff;
    margin: 20px;
    text-align: center;
    width: 60%;
    border-radius: 20px;
    height: 40px;
}
.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;

    height: 40px;
}
.nav-item:hover {
    background-color: #7546ff;
    transition: all 0.2s;
}
.nav-item a:hover {
    color: #fff;
    transition: all 0.15s;
}
.profile {
    background-color: aliceblue;
    border: 1px solid #7546ff;
    width: 65vw;
    min-height: 80vh;
    border-radius: 15px;
    margin: 0px 20px;
}

.table {
    margin: 30px 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Inter:wght@600&family=Roboto+Slab:wght@700&display=swap');
.table th,.table td {
    padding: 20px 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
 }

 .main {
    display: flex;
    justify-content: center
}