.main {
    background-color: #7546ff;
    margin: auto;
    width: 91vw;
    border-radius: 50px;
}
.main .category {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
}
.main .category h2 {
    margin: 20px;
    color: white;
}
img {
    width: 100px;
    max-height: 300px;
    margin-bottom: 10px;
}
.shop {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 200px;
    max-width: 230px;
    border-radius: 20px;
}
.shops {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.shop a {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}