.myOrders {
    background-color: aliceblue;
    border: 1px solid #7546ff;
    width: 65vw;
    min-height: 80vh;
    border-radius: 15px;
    margin: 0px 20px;
}

.order {
    background-color: rgb(255, 255, 255);
    border: 1px solid #7546ff;
    border-radius: 20px;
    margin: 40px;
}
.id {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    border-bottom: 1px solid black;
}

.orderNum {
    margin-left: 20px;
}
.shop {
    max-width: 450px;
}
.items th,.items td {
    padding: 20px 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
 }
 .shop th,.shop td {
    padding: 20px 10px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
 }
.contains {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content {
}
.price {
    margin: 10px 20px;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    text-wrap: nowrap;
}

.tables {
    display: flex;
}